.img {
    width: 250px;
    height: auto;
    }

.solid-state{
    width: 250px;
    height: auto;
}
.External-storage{
    width: 250px;
    height: auto;
}
.data-read{
    width: 250px;
    height: auto;
}

.Data-Transfer{
    width: 380px;
    height: auto;
}
