.img {
    width: 380px;
    height: auto;
    align-self: center;  
}
 
button:hover{
       
background:wheat;
color:white;
border-radius:100px;
cursor:pointer;

}
.solid-state{
    width: 250px;
    height: auto;
}
.External-storage{
    width: 250px;
    height: auto;
}
.data-read{
    width: 250px;
    height: auto;
}

.Data-Transfer{
    width: 380px;
    height: auto;
}
